<!doctype html>
<html>
  <head>
    <title>Finish your password reset</title>
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('password-reset-fulfillment-form')

        form.addEventListener('submit', event => {
          event.preventDefault()

          // Get the new password from the form
          const formData = new FormData(form)
          const newPassword = formData.get('password')

          // Perform the password reset fulfillment
          fetch('https://api.keygen.sh/v1/accounts/<%= accountId %>/users/<%= userId %>/actions/reset-password', {
            method: 'POST',
            body: JSON.stringify({
              meta: {
                passwordResetToken: '<%= passwordResetToken %>',
                newPassword,
              }
            }),
          })
            .then(res => res.json())
            .then(body => {
              const { data, errors } = body
              if (errors) {
                const [error] = errors
                const { title, detail, source, code } = error

                alert(`Your password reset failed: ${source?.pointer ?? ''} ${detail} ${code ? `(${code})` : ''}`)

                throw new Error(title + ': ' + detail)
              }

              alert('The password for ' + data.attributes.email + ' has been changed!')

              form.reset()
            })
            .catch(e => {
              console.error('Failed to fulfill password reset', e)
            })
        })
      })
    </script>
  </head>
  <body>
    <h1>Finish your password reset for ACME</h1>
    <form id='password-reset-fulfillment-form'>
      <label for='password'>
        New Password
      </label>
      <input type='password' name='password'>
      <button type='submit'>
        Submit
      </button>
    </form>
  </body>
</html>
