<!doctype html>
<html>
  <head>
    <title>Request a password reset for ACME</title>
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('password-reset-request-form')

        form.addEventListener('submit', event => {
          event.preventDefault()

          // Get the user's email from the form
          const formData = new FormData(form)
          const email = formData.get('email')

          // Perform the password reset request
          fetch('https://api.keygen.sh/v1/accounts/<%= accountId %>/passwords', {
            method: 'POST',
            body: JSON.stringify({
              meta: {
                deliver: false,
                email,
              }
            }),
          })
            .then(res => res.json().catch(e => null))
            .then(body => {
              if (body != null && body.errors != null) {
                const [error] = body.errors
                const { title, detail, source, code } = error
                let msg = 'Your password reset request failed: '

                if (source != null && source.pointer != null) {
                  msg += source.pointer
                }

                msg += detail

                if (code != null) {
                  msg += ` (${code})`
                }

                alert(msg)

                throw new Error(`${title}: ${detail}`)
              }

              alert('We sent an email to you with instructions on how to reset your password!')

              form.reset()
            })
            .catch(e => {
              console.error('Failed to request a password reset', e)
            })
        })
      })
    </script>
  </head>
  <body>
    <h1>Request a password reset for ACME</h1>
    <form id='password-reset-request-form'>
      <label for='email'>
        Your Email
      </label>
      <input type='email' name='email'>
      <button type='submit'>
        Submit
      </button>
    </form>
  </body>
</html>
